<!-- Google Tag Manager (noscript) -->

<style>
  /* Using display: none; */
  .navbar-display-none {
      display: none;
  }

  /* Using visibility: hidden; */
  .navbar-visibility-hidden {
      visibility: hidden;
  }

  /* Using opacity: 0; */
  .navbar-opacity-zero {
      opacity: 0;
  }
</style>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar navbar-opacity-zero sticky-top navbar-expand-md navbar-dark bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

